

/* Ordem de estilo:
layout:     display, flex-direction
width:      width
margin:     margin, margin-bottom
padding:    padding
background: background-color
display:    display

border: border-radius, box-shadow, border
texto: text-align, font-size, color, font-weight
*/


.page {
  /* min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-width: 40%; */

}


.card {
  /* margin: auto; */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);

  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-lg);

  text-align: center;
}



.title {
  margin-bottom: .5rem;

  font-size: var(--text-2xl);
  color: var(--color-primary-600);
}

.subtitle {
  margin-bottom: 1rem;

  font-size: var(--text-sm);
  color: var(--color-text);  
}

.textHealth {
  color: var(--color-primary-600);
  font-weight: var(--font-weight-medium);
}

.textTech {
  color: var(--color-secondary-500);
  font-weight: var(--font-weight-regular);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.button {
  width: 100%;
  padding: .5rem;
  background-color: var(--color-secondary-500);

  border-radius: var(--radius-lg);
  border: 1px solid var(--color-gray-100);
  outline: none;

  font-weight: var(--font-weight-medium);
  font-size: var(--text-base);
  color: var(--color-white);
}

.button:hover {
  background-color: var(--color-secondary-600);
}

.footer {
  font-size: var(--text-sm);
  color: var(--color-gray-700);
}
