# Server
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database — sobe com: docker-compose up -d
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=healthtech
