

.layoutContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.mainContent {
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    flex: 1;
}

